<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f76cddba-01b0-47a4-9fba-79e43c53811f/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/CrystalReportDemo20190327110206</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://crystalreportdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>crystalreportdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CrystalReportDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CrystalReportDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=JOY007;Initial Catalog=MVCTutorial;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=JOY007;Initial Catalog=MVCTutorial;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrystalReportDemo.Models.ApplicationDbContext, CrystalReportDemo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MVCTutorialEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=JOY007;Initial Catalog=MVCTutorial;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=JOY007;Initial Catalog=MVCTutorial;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrystalReportDemo.Models.MVCTutorialEntities, CrystalReportDemo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MVCTutorialEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=JOY007;Initial Catalog=MVCTutorial;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=JOY007;Initial Catalog=MVCTutorial;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>